<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <body>
        <!-- Logo superior izquierdo -->
        <div class="logo logo-superior-izquierdo">
            <img src="images/imagen1.jpg" alt="Logo Izquierdo">
        </div>
    
        <!-- Logo superior derecho -->
        <div class="logo logo-superior-derecho">
            <img src="/images/logo-tecnm-2018_orig.png" alt="Logo Derecho">
        </div>

    <h1>Acerca de nosotros</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/about">Acerca de</a> |
        <a href="/contac">Contacto</a>

    
            
    </nav>
<h3>Como ingeniero en Sistemas Computacionales te desempeñarás en el sector privado y en la administración pública, 
    donde desarrollarás soluciones en hardware y software de impacto tecnológico, participando en centro de investigación 
    científica y desarrollo tecnológico. También podrás dedicarte a la operación y mantenimiento de sistemas de cómputo.</h3>
  
</body>
</html>