<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <body>
        <!-- Logo superior izquierdo -->
        <div class="logo logo-superior-izquierdo">
            <img src="images/imagen1.jpg" alt="Logo Izquierdo">
        </div>
    
        <!-- Logo superior derecho -->
        <div class="logo logo-superior-derecho">
            <img src="/images/logo-tecnm-2018_orig.png" alt="Logo Derecho">
        </div>
    <h1>Contacto</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/about">Acerca de</a> |
        <a href="/contac">Contacto</a>
    </nav>
</nav>
<h3>
    Guillermo Antonio Cima Pat
    
</h3>
<h3>
    Correo: 211k0055@itscarrillopuerto.edu.mx
</h3>
<h3>Felipe Carrillo Puerto, Carr Vigía Chico</h3>
</body>
</html>