<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
</head>
<body>
    <!-- Logo superior izquierdo -->
    <div class="logo logo-superior-izquierdo">
        <img src="/images/imagen1.jpg" alt="Logo de la página">
    </div>
     <!-- Logo superior derecho -->
     <div class="logo logo-superior-derecho">
        <img src="/images/logo-tecnm-2018_orig.png" alt="Logo Derecho">
    </div>

    <header class="inicio-header"></header>
    <h1>Bienvenido a la página de inicio</h1>
    <h2>Ingeniería en sistemas computacionales</h2>
    <nav>
        <a href="/">Inicio</a> 
        <a href="/about">Acerca de</a> 
        <a href="/contac">Contacto</a>
    </nav>

     <!-- Texto en la sección de inicio -->
     <section class="inicio-texto">
        <p>
            <p><strong>Misión del Programa Educativo</strong></p>  
Formar profesionistas en el área de Ingeniería en Sistemas Computacionales con un alto sentido de responsabilidad humana para integrarse al sector productivo de la región y país. Participando como actores de cambio en un entorno global.

<p><strong>Visión del Programa Educativo</strong></p> 
Ser un departamento líder en formación integral de profesionales de calidad en el área de Sistemas Computacionales, con reconocimiento institucional y prestigio social tanto en la región como en el país.

<p><strong>Objetivo General</strong></p> 
Formamos ingenieros en Sistemas Computacionales líderes capaces de diseñar, desarrollar, implementar y administrar tecnologías de la información, para aportar soluciones innovadoras en beneficio de la sociedad.
        </p>
</body>
</html>